<div class="column_1">
  <h2>Conference Details</h2>
  <hr>
  <p>
    Ruby Lugdunum is a two-day, single track conference inspired by
    <span class="highlight">Ruby, Lyon, &amp; passion.</span>
    Write some stuff that make our event excepional!!!
  </p>
  <a href="/program" class="program"><img alt="pics1" src=""></a>
  <a href="/program" class="program"><img alt="pics2" src=""></a>
  <a href="/program" class="program"><img alt="pics3" src=""></a>
  <br />
  <h2><a href="/program">PROGRAM</a></h2>
  <hr>
  <p>Lets write some stuff here</p>
  
  <h2>NEWS</h2>
  <hr>
  <p>Lets write some stuff here</p>
  <hr>
</div>

<div class="column_2">
  <!--<a href="https://ruby-lugdunum.eventwax.com/" class="big green buy full_width_button">Register 85€</a>-->
  <p>Follow us on twitter <a href="http://twitter.com/ruby-lugdunum">@ruby-lugdunum</a></p>
  
  <h2>SPONSORS</h2>
  <hr>
    <ul>
      <li><img class="logo" alt="Lyon.rb" src="images/logo_lyonrb.png"><a href="http://www.lyonrb.fr/">Lyon.rb</a></li>
      <li><img class="logo" alt="Leadformance" src="images/logo_leadformance.gif"><a href="http://www.leadformance.com/">Leadformance</a></li>
      <li><img class="logo" alt="Sogilis" src="images/logo_sogilis.jpg"><a href="http://www.sogelis.com/">Sogilis</a></li>
      <li><img class="logo" alt="Heroku" src="images/logo_heroku.png"><a href="http://www.heroku.com/">Heroku</a></li>
      <li><img class="logo" alt="Hashrocket" src="images/logo_hashrocket.png"><a href="http://www.hashrocket.com/">Hashrocket</a></li>
    </ul>
  </div>
</div>
