<div class="column_1 index">
  <div id="cfp-banner">
    <p>Up for a lightning talk on Sunday? In English or French.</p>
    <p>You have until May 1st to fill a <a href="https://spreadsheets.google.com/a/lyonrb.fr/viewform?formkey=dC1tTy1Edk9HSkRvT2FleTFnYm51Y0E6MQ">call for proposals</a>.</p>
  </div>

  <div class="block">
    <h2>Conference Details</h2>
    <br/>
    <p>Ruby Lugdunum 2011 is a 2-day, single track conference in Lyon, France.</p>
    <p>The event will be held in a brand-new conference hall in the center of Lyon technology campus. See our <a href="venue">venue page for details</a>.
    <p>The ruby ecosystem is thrilling in Europe with major events happening everywhere.</p>
    <p>We would like to host the international Ruby community together around high quality talks and good food.</p>
    <p>
      So far, we have great speakers announced:
      <ul>
        <li><a href="http://lanyrd.com/people/svenfuchs/">Sven Fuchs</a>,</li>
        <li><a href="http://lanyrd.com/people/konstantinhaase/">R. Konstantin Haase</a>,</li>
        <li><a href="http://lanyrd.com/people/bmizerany/">Blake Mizerany</a> from Heroku,</li>
        <li>and <a href="http://lanyrd.com/people/josephwilk/">Joseph Wilk</a>.</li>
      </ul>
      We will publish the schedule at the beginning of May.
    </p>
  </div>

  <div id="schedule" class="block">
    <h2>Schedule</h2>

    <div id="saturday">
      <h3>Saturday</h3>
      6 amazing presentations about cutting-edge Ruby and Rails-related technologies.
    </div>

    <div id="sunday">
      <h3>Sunday</h3>
      Lightning talks and hack-fest.
    </div>
  </div>

  <div id="lyon">
    <img alt="Lyon1" src="images/lyon1.jpg">
    <img alt="Lyon2" src="images/lyon2.jpg">
    <img alt="Lyon3" src="images/lyon3.jpg">
  </div>
</div>

