<div class="column_1">
  <h2>Conference Details</h2>
  <hr>
  <p>
    Ruby Lugdunum 2011 aka RuLu 2011 is a two-day, single track conference in France. International scene, high quality talks and good food are our . European scene is making a big move since 2 years with overcrowded events. As our Euruko friends, we want to provide you an accessible way to meet the community and improve your knowledge.
  </p>
  <div id="lyon">
    <a href="/program" class="program"><img alt="Lyon1" src="images/lyon1.jpg"></a>
    <a href="/program" class="program"><img alt="Lyon2" src="images/lyon2.jpg"></a>
    <a href="/program" class="program"><img alt="Lyon3" src="images/lyon3.jpg"></a>
  </div>
  <br />
  <h2><a href="/program">PROGRAM</a></h2>
  <hr>
  <p>2 days, 2 Objectives:</p>
  <ul>
    <li>First day: 10 amazing presentations about MongoDB, SOA architecture, SOLID applications, Rubinus</li>
    <li>Second day: Break the Server - a hacking contest organized with prizes</li>
  </ul>
  <h2>NEWS</h2>
  <hr>
  <p>We got the green light from Blake Mizerany from Heroku to give a talk to RuLu</p>
  <hr>
  <h2><a href="/speaker">SPEAKERS</a></h2>
  <hr>
  <p>Konstantin Haase is one of the main Sinatra maintainer. He quickly replied enthusiastically to join us for RuLu 2011.</p>
  <p>Sven Fuchs, Mr I18n, and Rails Core contributor was the first to accept our invitation to come in Lyon to give a talk</p>
</div>

<div class="column_2">
  <!--<a href="https://ruby-lugdunum.eventwax.com/" class="big green buy full_width_button">Register 85€</a>-->
  <p>Follow us on twitter <a href="http://twitter.com/rubylug">@rubylug</a></p>
  
  <h2>SPONSORS</h2>
  <hr>
    <ul id="sponsors">
      <li>
        <a href="http://www.lyonrb.fr/">
          <img alt="Lyon.rb" src="images/logo_lyonrb.png" />Lyon.rb
        </a>
      </li>
      <li>
        <a href="http://www.leadformance.com/">
          <img alt="Leadformance" src="images/logo_leadformance.gif" />Leadformance
        </a>
      </li>
      <li>
        <a href="http://www.sogelis.com/">
          <img alt="Sogilis" src="images/logo_sogilis.jpg" />Sogilis
        </a>
      </li>
    </ul>
  </div>
</div>
