<div class="column_1">
  <div id="cfp-banner">
	  <p>Want to be part of our speaker lineup ?</p>
    <p>You have until May 25th to fill out our <a href="https://spreadsheets.google.com/a/lyonrb.fr/viewform?formkey=dC1tTy1Edk9HSkRvT2FleTFnYm51Y0E6MQ">call for proposals</a>.</p>
  </div>
  <h2>Conference Details</h2>
  <hr>
  <p>
    Ruby Lugdunum 2011 aka RuLu 2011 is a two-day, single track conference in Lyon, France. We want to bring the international Ruby scene together around high quality talks and good food. There has been big movements in the european scene with largely popular events in the last couple of years. We want to provide you with an accessible way to meet the community and improve your knowledge.
  </p>
  <div id="lyon">
  <img alt="Lyon1" src="images/lyon1.jpg">
  <img alt="Lyon2" src="images/lyon2.jpg">
  <img alt="Lyon3" src="images/lyon3.jpg">
  </div>
  <br />
  <h2><a href="/schedule">SCHEDULE</a></h2>
  <hr>
  <p>2 days, 2 objectives:</p>
  <ul>
    <li>Day 1: 7 amazing presentations about cutting-edge Ruby and Rails-related technologies,</li>
    <li>Day 2: Break the Server - a hacking contest, with prizes !</li>
  </ul>
  <h2>NEWS</h2>
  <hr>
  <p>We got confirmation from Blake Mizerany from Heroku that he will give a talk to RuLu.</p>
  <h2><a href="/speakers">SPEAKERS</a></h2>
  <hr>
  <p>Konstantin Haase is one of the main Sinatra maintainers. He quickly replied enthusiastically to join us for RuLu 2011.</p>
  <p>Sven Fuchs, Mr I18n, and Rails Core contributor was the first to accept our invitation to come to Lyon to give a talk.</p>
</div>

<div class="column_2">
  <!--<a href="https://ruby-lugdunum.eventwax.com/" class="big green buy full_width_button">Register 85&#8364</a>-->
  <p>Follow us on twitter <a href="http://twitter.com/rubylug">@rubylug</a></p>
  
  <h2>SPONSORS</h2>
  <hr>
    <ul id="sponsors">
      <li>
        <a href="http://www.leadformance.com/">
          <img alt="Leadformance" src="images/logo_leadformance.gif" />Leadformance
        </a>
      </li>
      <li>
        <a href="http://www.sogilis.com/">
          <img alt="Sogilis" src="images/logo_sogilis.jpg" />Sogilis
        </a>
      </li>
    </ul>
  </div>
</div>
