<div class="column_1">
  <div id="cfp-banner">
	  <p>Want to share a lightning talk for the sunday ?</p>
    <p>You have until May 1st to fill out our <a href="https://spreadsheets.google.com/a/lyonrb.fr/viewform?formkey=dC1tTy1Edk9HSkRvT2FleTFnYm51Y0E6MQ">call for proposals</a>.</p>
  </div>
  
  <div class="block">
    <h2>Conference Details</h2>
    <p>
      Ruby Lugdunum 2011 aka RuLu 2011 is a two-day, single track conference in Lyon, France.
      We want to bring the international Ruby scene together around high quality talks and good food.
      There has been big movements in the european scene with largely popular events in the last couple of years.
      We want to provide you with an accessible way to meet the community and improve your knowledge.
    </p>
  </div>
  
  <div id="schedule" class="block">
    <h2>Schedule</h2>
    
    <div id="saturday">
      <h3>Saturday</h3>
      7 amazing presentations about cutting-edge Ruby and Rails-related technologies.
    </div>
    
    <div id="sunday">
      <h3>Sunday</h3>
      Lightning talks and hack-fest.
    </div>
  </div>
  
  <div id="lyon">
    <img alt="Lyon1" src="images/lyon1.jpg">
    <img alt="Lyon2" src="images/lyon2.jpg">
    <img alt="Lyon3" src="images/lyon3.jpg">
  </div>
</div>

<div class="column_2">
  <div id="twitter">
    <p>Follow us on twitter <a href="http://twitter.com/rubylug">@rubylug</a></p>
  </div>
  
  <div id="sponsors">
    <h2>Sponsors</h2>
    <a href="mailto:rulu@lyonrb.fr" class="become_sponsor">You ?</a>
    
    <ul>
      <li>
        <a href="http://www.leadformance.com/">
          <img alt="Leadformance" src="images/logo_leadformance.gif" /><br />Leadformance
        </a>
      </li>
      <li>
        <a href="http://www.sogilis.com/">
          <img alt="Sogilis" src="images/logo_sogilis.jpg" /><br />Sogilis
        </a>
      </li>
    </ul>
  </div>
</div>
