<div class="column_1 index">
  <div class="block">
    <h2>Conference Details</h2>
    <br/>
    <p>Ruby Lugdunum 2011 is a two day, single track Ruby conference in Lyon, France.</p>
    <p>The ruby ecosystem is thrilling in <a href="http://rubyists.eu/">Europe</a> with major events happening <a href="http://lanyrd.com/topics/ruby/">everywhere.</a>
    Barricaded in the last free village in Gaul, we will treat you with talks (in English), some hacking and good food.
    Check out the <a href="/schedule">schedule !</a> There will be plenty of time built in to meet the other attendees. </p>
    <p class="thanks">Thanks to our <a href="/sponsors">sponsors</a> for helping to make this conference possible.</p>
  </div>
  
  <div class="block">
    <h2>Latest news</h2>
    <br/>
    <ul class="sexy-bullet-points-jm-sucks-at-css">
    <li>Come to the <a href="/party">party</a> on the saturday evening from 7pm!</li>
    <li>T1 tramway is substituted by buses due to some maintenance, see <a href="/venue#from-part-dieu">Venue page</a> for details.</li>
    </ul>
  </div>

  <div id="lyon">
    <img alt="Lyon1" src="images/index/lyon1.jpg">
    <img alt="Lyon2" src="images/index/lyon2.jpg">
    <img alt="Lyon3" src="images/index/lyon3.jpg">
  </div>
</div>

