<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Ruby Lugdunum - 2011</title>
    <link href="stylesheets/content.css" media="screen" rel="stylesheet" type="text/css">
    <script src="javascripts/jquery.js" type="text/javascript"></script>
    <script src="javascripts/jquery-ui.js" type="text/javascript"></script>
    <script src="javascripts/rails.js" type="text/javascript"></script>
    <script src="javascripts/application.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="banner_1">
      <div class="center clearfix">
        <header>
          <a href="/"><img alt="ruby-lugdunum-logo" src="images/ruby-lugdunum-logo.png" class="logo"></a>
          <div class="logo_text"></div>
          <h1>
            <span class="red">Ruby Lugdunum</span>
          </h1>
          <h2>
            25-26 June 2011
          </h2>
          <h3>
            Lyon, France
          </h3>
          <nav>
            <ul>
              <li><a href="/">HOME</a></li>
              <!-- <li><a href="/speakers">SPEAKERS</a></li> -->
              <li><a href="/schedule">SCHEDULE</a></li>
              <li><a href="/venue">VENUE</a></li>
              <li><a href="/sponsoring">SPONSORING</a></li>
              <!-- <li><a href="/sponsors">SPONSORS</a></li> -->
            </ul>
          </nav>
          <!--<div class="banner">
            <img alt="Banner" src="images/banner.png">
          </div>-->
        </header>
      </div>
    </div>
    <div class="banner_2">
      <div class="center clearfix">
        <%= yield %>

        <div class="column_2">
          <div id="twitter">
            <p>Follow us on twitter <a href="http://twitter.com/rubylug">@rubylug</a></p>
          </div>

          <div id="sponsors">
            <h2>Sponsors</h2>
            <a href="mailto:rulu@lyonrb.fr" class="become_sponsor">You ?</a>

            <ul>
              <li>
                <a href="http://www.leadformance.com/">
                  <img alt="Leadformance" src="images/logo_leadformance.gif" /><br />
                </a>
              </li>
              <li>
                <a href="http://www.sogilis.com/">
                  <img alt="Sogilis" src="images/logo_sogilis.jpg" /><br />
                </a>
              </li>
              <li>
                <a href="http://www.heroku.com/">
                  <img alt="Heroku" src="images/logo_heroku.png" /><br />
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="center clearfix">
        <ul>
          <li><a href="/">HOME</a></li>
          <!-- <li><a href="/speakers">SPEAKERS</a></li> -->
          <li><a href="/schedule">SCHEDULE</a></li>
          <li><a href="/venue">VENUE</a></li>
          <!-- <li><a href="/sponsors">SPONSORS</a></li> -->
          <li><a href="mailto:rulu@lyonrb.fr">CONTACT</a></li>
        </ul>
        &copy; 2011 <a href="http://lyonrb.fr">Lyon.rb</a>, based on a design by the <a href="http://ruby.onales.com/">Ruby on Ales</a> team, used with permission.
        <hr>
        <div class="organizers clearfix">
          <ul>
            <li><a href="http://twitter.com/21croissants"><img class="profil" alt="21croissants" src="images/21croissants.png"></a><br><a href="http://twitter.com/21croissants">@21croissants</a></li>
            <li><a href="http://twitter.com/bibinou"><img class="profil" alt="bibinou" src="images/bibinou.png"></a><br><a href="http://twitter.com/bibinou">@bibinou</a></li>
            <li><a href="http://twitter.com/dmathieu"><img class="profil" alt="dmathieu" src="images/dmathieu.png"></a><br><a href="http://twitter.com/dmathieu">@dmathieu</a></li>
            <li><a href="http://twitter.com/cesariogw"><img class="profil" alt="cesario" src="images/cesario.png"></a><br><a href="http://twitter.com/cesariogw">@cesariogw</a></li>
            <li><a href="http://twitter.com/lminaudier"><img class="profil" alt="lminaudier" src="images/lminaudier.jpg"></a><br><a href="http://twitter.com/lminaudier">@lminaudier</a></li>
            <li><a href="http://twitter.com/vzmind"><img class="profil" alt="vzmind" src="images/vzmind.png"></a><br><a href="http://twitter.com/vzmind">@vzmind</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20067061-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</html>
