<div class="column_1 party">
  
  <h1>Saturday Evening Party</h1><br />
  
  <p style="text-align: center;">
    <img alt="perl" src="/images/party/perl.png" />
  </p>
  
  <div class="block">
    <p>
      There will, of course, be an after conference party after the saturday evening.<br />
      This party is a great occasion to meet informally with other hackers and enjoy some french wine !
    </p>
    
    <p>
      The party will happen at the <a href="http://www.cafeperl.com/contact.html">Café Perl</a> (yeah, like the language !)<br />
      It's located in the center of the city, near the <strong>Cordeliers</strong> subway station.
    </p>
  </div>
    
  <div class="block">
    <h2>Map</h2>
    
    <div style="text-align: center;">
      <iframe width="700" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?ie=UTF8&amp;q=caf%C3%A9+perl+lyon&amp;fb=1&amp;gl=fr&amp;hq=caf%C3%A9+perl&amp;hnear=0x47f4ea516ae88797:0x408ab2ae4bb21f0,Lyon&amp;cid=0,0,11535103547012078031&amp;t=h&amp;iwloc=A&amp;ll=45.766146,4.836066&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br />
      
      <p>
        <a href="http://maps.google.fr/maps?ie=UTF8&amp;q=caf%C3%A9+perl+lyon&amp;fb=1&amp;gl=fr&amp;hq=caf%C3%A9+perl&amp;hnear=0x47f4ea516ae88797:0x408ab2ae4bb21f0,Lyon&amp;cid=0,0,11535103547012078031&amp;t=h&amp;iwloc=A&amp;ll=45.762916,4.834453&amp;spn=0.006295,0.006295&amp;source=embed">View the Café Perl on a larger map</a>
      </p>
    </div>
  </div>
</div>