<div class="column_1 schedule">
<h2>Schedule</h2>
<tbody><table>
<tr><th colspan="2"></th></tr>
<tr>
<td><p>Speakers and sponsors pre-conference meetup</p>
<p>Details will be disclosed soon.</p></td>
</tr>

<tr><th colspan="2">Day 1 - Saturday, June 25</th></tr>

<tr>
<td>8:30 - 9:30</td>
<td>Registration and French breakfast</td>
</tr>

<tr>
<td>9:30 - 10:00</td>
<td>Keynote (tentative)</td>
</tr>


<tr class="break"><td colspan="2">Break (30 min)</td></tr>

<tr>
<td>10:30 - 11:00</td>
<td>Talk 1</td>
</tr>

<tr class="break"><td colspan="2">Break (15 min)</td></tr>

<tr>
<td>11:15 - 12:00</td>
<td>Talk 2</td>
</tr>

<tr class="break"><td colspan="2">Lunch Break (2 hours)</td></tr>
<tr>
<td>14:00 - 14:45</td>
<td>Talk 3</td>
</tr>
 

<tr class="break"><td colspan="2">Break (30 min)</td></tr>
<tr>
<td>15:15 - 16:00</td>
<td>Talk 4</td>
</tr>
 

<tr class="break"><td colspan="2">Break (15 min)<td></tr>

<tr>
<td>16:15 - 17:00</td>
<td>Talk 5</td>
</tr>

<tr>
<td>19:00/20:00</td>
<td>French Apéro
<p>Laid back and socialize.</p></td>
</tr>

<tr><th colspan="2">Day 2 - Sunday, June 26</th></tr>

<tr><td colspan="2"><p>Short talks and socializing, barcamp-like.</p>
<p>More details will be announced later.</p></td></tr>
</tbody></table>
</div>
