<div class="column_1 schedule">
<h2>Schedule</h2>

<p>Speakers and sponsors pre-conference meetup</p>
<p>More details will be disclosed soon.</p></td>

<table>
  <tr>
    <th colspan="2">Day 1 - Saturday, June 25</th>
  </tr>

  <tr>
    <td class="hours">8:30 - 9:30</td>
    <td class="description">Registration and French breakfast</td>
  </tr>

  <tr>
    <td class="hours">9:30 - 10:00</td>
    <td class="description">Keynote</td>
  </tr>


  <tr class="break">
    <td colspan="2">Break (30 min)</td>
  </tr>

  <tr>
    <td class="hours">10:30 - 11:00</td>
    <td class="description">Talk 1</td>
  </tr>

  <tr class="break">
    <td colspan="2">Break (15 min)</td>
  </tr>

  <tr>
    <td class="hours">11:15 - 12:00</td>
    <td class="description">Talk 2</td>
  </tr>

  <tr class="break">
    <td colspan="2">Lunch Break (1h30)</td>
  </tr>

  <tr>
    <td class="hours">13:30 - 14:15</td>
    <td class="description">Talk 3</td>
  </tr>
 

  <tr class="break">
    <td colspan="2">Break (30 min)</td>
  </tr>

  <tr>
    <td class="hours">14:45 - 15:30</td>
    <td class="description">Talk 4</td>
  </tr>
 

  <tr class="break">
    <td colspan="2">Break (15 min)</td>
  </tr>

  <tr>
    <td class="hours">15:45 - 16:30</td>
    <td class="description">Talk 5</td>
  </tr>


  <tr class="break">
    <td colspan="2">Break (15 min)</td>
  </tr>

  <tr>
    <td class="hours">16:45 - 17:30</td>
    <td class="description">Talk 6</td>
  </tr>


  <tr>
    <td class="hours">17:30 - 20:00</td>
    <td class="description">French Apéro : Laid back and socialize.</td>
  </tr>
</table>

<table>
  <tr>
    <th colspan="2">Day 2 - Sunday, June 26</th>
  </tr>

  <tr>
    <td colspan="2"><p>Short talks and socializing, barcamp-like.</p>
    <p>More details will be announced later.</p></td>
  </tr>
</table>

</div>
