<div class="column_1 schedule">

<br/>

<table class="schedule" cellpadding="0" cellspacing="0">
<thead>
<tr class="one_row">
  <th><br></th>
  <td>
    Saturday 25/06/2011
  </td>
  
</tr>
</thead>
<tbody>
<tr class="three_row">
  <th>
    8:30
  </th>
  <td class="break">
    Registration
  </td>
  
</tr>
<tr class="one_row">
  <th>
    9:10
  </th>
  <td>
    Welcome and introductions
    <br>Mysterious MC<br>
  </td>
  
</tr>
<tr class="two_row">
  <th>
    9:30
  </th>
  <td>
    <a href="http://ruby.onales.com/speakers#jimweirichmattyoho">Keynote</a>
    <br>
    TBD
  </td>
  
</tr>

<%= break_helper"10:00" %>

<tr class="two_row">
  <th>
    9:50
  </th>
  <td>
    <a href="http://ruby.onales.com/speakers#erikmichaels-ober">Gui Programming with Mac Ruby</a>
    <br>
    Erik Michaels-Ober
  </td>
  
</tr>
<tr class="two_row">
  <th>
    10:30
  </th>
  <td>
    <a href="http://ruby.onales.com/speakers#richardcrowley">Why is configuration management
      software written in Ruby?</a>
    <br>
    Richard Crowley
  </td>
  
</tr>
<tr class="two_row">
  <th>
    11:10
    </th><td>
      <a href="http://ruby.onales.com/speakers#kyleneath">Design hacks for the pragmatic minded</a>
      <br>
      Kyle Neath
    </td>
    
  
</tr>
<tr class="four_row">
  <th>
    11:50
    </th><td class="break">
      Lunch
    </td>
    
  
</tr>
<tr class="two_row">
  <th>
    1:30
    </th><td>
      <a href="http://ruby.onales.com/speakers#avdigrimm">Exceptional Ruby</a>
      <br>
      Avdi Grimm
    </td>
    
  
</tr>
<tr class="two_row">
  <th>
    2:10
  </th>
  <td>
    <a href="http://ruby.onales.com/speakers#reinhenrichs">You Got Ruby In My PHP! (You Got PHP In
      My Ruby!)</a>
    <br>
    Rein Henrichs
  </td>
  
</tr>
<tr class="two_row">
  <th>
    2:50
  </th>
  <td>
    <a href="http://ruby.onales.com/speakers#bradleygrzesiak">The Ruby Environment</a>
    <br>
    Bradley Grzesiak
  </td>
  
</tr>
<tr class="two_row">
  <th>
    3:30
  </th>
  <td class="break">
    Break
  </td>
  
</tr>
<tr class="two_row">
  <th>
    3:40
  </th>
  <td>
    <a href="http://ruby.onales.com/speakers#johnbritton">Quick and Dirty Apps with Sinatra,
      DataMapper, RestClient &amp; Heroku</a>
    <br>
    John Britton
  </td>
  
</tr>
<tr class="two_row">
  <th>
    4:20
  </th>
  <td>
    Lightning talks
  </td>
  
</tr>
</tbody>




<tbody>
</tbody></table><table>
  <tbody><tr>
    <th colspan="2"><br></th>
  </tr>
  <tr>
    <td><p>Speakers and sponsors pre-conference meetup</p>

      <p>More details will be disclosed soon.</p></td>
  </tr>

  <tr>
    <th colspan="2">Day 1 - Saturday, June 25</th>
  </tr>

  <tr class="">
    <td>8:30 - 9:30</td>
    <td>Registration and French breakfast</td>
  </tr>

  <tr>
    <td>9:30 - 10:00</td>
    <td>Keynote</td>
  </tr>


  <tr class="break">
    <td colspan="2">Break (30 min)</td>
  </tr>

  <tr>
    <td>10:30 - 11:00</td>
    <td><br></td>
  </tr>

  <tr class="break">
    <td colspan="2">Break (15 min)</td>
  </tr>

  <tr>
    <td>11:15 - 12:00</td>
    <td>Sven Fuchs</td>
  </tr>

  <tr class="break">
    <td colspan="2">Lunch Break (2 hours)</td>
  </tr>
  <tr>
    <td>14:00 - 14:45</td>
    <td>Lucas Di Cioccio</td>
  </tr>


  <tr class="break">
    <td colspan="2">Break (30 min)</td>
  </tr>
  <tr>
    <td>15:15 - 16:00</td>
    <td>Joseph Wilk</td>
  </tr>


  <tr class="break">
    <td colspan="2">Break (15 min)
    </td><td>
  <br></td></tr>

  <tr>
    <td>16:15 - 17:00</td>
    <td>Blake Mizerany</td>
  </tr>

  <tr>
    <td>19:00/20:00</td>
    <td>French Apéro
      <p>Laid back and socialize.</p></td>
  </tr>

  <tr>
    <th colspan="2">Day 2 - Sunday, June 26</th>
  </tr>

  <tr>
    <td colspan="2"><p>Short talks and socializing, barcamp-like.</p>

      <p>More details will be announced later.</p></td>
  </tr>


</tbody></table>

</div>
