<div id="sponsoring">
  <div class="block">
    <h2>Sponsoring</h2>
  </div>

  <p class="sponsoring-banner">
    Contact us at <a href="mailto:rulu@lyonrb.fr">rulu@lyonrb.fr</a> for details on pricing
  </p>
  
  <div class="left-column">
    <h3>Silver Sponsors</h3>
    <img alt="Few money" src="images/few_money.png" />

    <h4>Pre-Conference</h4>

    <ul>
      <li>Company name, logo, 50-word description, and link on conference website</li>
      <li>Sponsor designation and right hand rail visibility on conference website, in onsite signage, and in marketing and PR announcements</li>
    </ul>

    <h4>Onsite Benefits</h3>

    <ul>
      <li>Exhibit Hall Booth</li>
      <li>2 Conference sessions passes</li>
      <li>Company name, logo, 50-word description, and link in Event Guide.</li>
    </ul>
  </div>

  <div class="right-column">
    <h3>Gold Sponsors</h3>
    <img alt="A lot of money" src="images/a_lot_of_money.png" />

    <p>All the Benefits from the Silver Sponsors</p>

    <h4>Pre-Conference</h4>

    <ul>
      <li>Ability to send one pre-event email to attendee opt-in list</li>
    </ul>


    <h4>Onsite Benefits</h4>

    <ul
      <li>30-minute session for company’s presentation</li>
      <li>4 Conference sessions passes</li>
      <li>Use of media meeting room for interviews and briefings (available on first-come, first-served basis)</li>
    </ul>

    <h4>Post-Conference</h4>

    <ul>
      <li>Ability to send one post-event email to attendee opt-in list</li>
    </ul>
  </div>
</div>


