<div class="column_1 sponsors-page">

<!-- ========== GOLD ========== -->

<p class="thanks">Special thanks to our gold sponsors : <a href="#sogilis">Sogilis</a>, <a href="officialfm">Official.fm</a>, and <a href="af83">AF83</a>.</p>

<!-- 690 / 3 = 230px wide -->

<ul class="horizon gold"><li>
  <img src="images/sponsors/logo_sogilis.png" alt="Sogilis logo" />
  <p>Sogilis</p>
</li><li>
  <img src="images/sponsors/logo_officialfm.png" alt="Official.fm logo" />
  <p>Official.fm</p>
</li><li>
  <img src="images/sponsors/logo_af83.jpg" alt="af83 logo" />
  <p>af83</p>
</li></ul>


<!-- ******* Sogilis ******* -->

<h3 id="sogilis"><a href="">Sogilis</a></h3>
<p>TBD</p>

<!-- ******* Official.fm ******* -->

<h3 id="officialfm"><a href="">Official.fm</a></h3>
<div class="summary">
  <p>Official.fm provide state-of-the-art services for audio professionals to help them optimize the day2day management of their audio files.</p>
<p>Hosting, Distribution, Promotion, Statistics, Selling, Licensing, Tour Organization and connecting with fans are some examples of our existing and/or upcoming services.</p>
<p>Launched in August 2010 from Geneva, Switzerland, our company has raised in excess of $8M USD.</p>

<p>Led by CEO Jeremie Abihssira and backed by a group of powerful investors , Official.fm acquired the code and the database from the now defunct Fairtilizer.com and has aggressively built out the platform. Key employees from Fairtilizer.com such as Antoine Marguerie, Amaechi Uzoigwe, Jerome Mestre and Ben Colon were also retained. </p>

<p>Official.fm team, composed of 18 talented/passionate/experienced people, is the perfect equation between 3 worlds: Tech, Music and Finance.</p>

<p>Our goal:  To become the "basecamp" for audio professionals.</p>

<p>We strongly think that a huge amount of needs coming from Artists, Labels or promotion agencies remain unanswered.</p>
<p>Just talk randomly with an artist, a label or a marketing company and you''ll see there's an ocean of opportunities to improve the existing scope of online services for audio pros.</p>

<p>Each step of the way, we will do our best to offer "straight forward" and "user-friendly" features, allowing them to spend less time on their computer and more time on their core activity.</p>

<p>Last but not least, we are working on re-defining the way content owners interact with their fans. Even if it's not all about selling music anymore, at the end of the day, fans are not only an artist's most viable consumer but also their best promoters.</p>
</div>

<!-- ******* AF83 ******* -->

<h3 id="af83"><a href="">af83</a></h3>
<div class="summary">
<p>AF83 is a vibrant tech shop based in Paris and SF specializing in realtime web and mobile apps.</p>
<p>We mainly develop in Ruby, Erlang and Server Side Javascript, specializing in the rapid development of scalable architectures with the latest technologies in NoSQL, cloud oriented deployment and light-weight RESTful SOAs.</p>
</div>

<!-- ========== SILVER ========== -->

<p class="thanks">Thanks to our silver sponsors : Heroku, Shopify, Novelys, Dimelo, Webpulser, Nuxos group, Microsoft and Rubyfrance.</p>

<h3 id="heroku">Heroku</h3>
<img class="" src="images/sponsors/logo_heroku.png" />
<div class="summary"><p></p></div>
<h3 id="shopify">Shopify</h3>
<img class="" src="images/sponsors/logo_shopify.png"  />
<div class="summary"><p>Shopify helps you build an elegant, secure, customized online store in minutes.</p></div>
<h3 id="novelys">Novelys</h3>
<img class="" src="images/sponsors/logo_novelys.png" />
<div class="summary"><p>Novelys is a small and agile company created in 2005 located in Strasbourg, France. We are a web technology provider for companies and public sector organizations as well as startups. We provide consulting and services around Ruby, Rails, AWS, MongoDB and mobile web.</p></div>
<h3 id="dimelo">Dimelo</h3>
<img class="" src="images/sponsors/logo_dimelo.jpg" />
<div class="summary"><p></p></div>
<h3 id="webpulser">Webpulser</h3>
<img class="" src="images/sponsors/logo_webpulser.png" />
<div class="summary"><p></p></div>
<h3 id="tigerlily">Tigerlily</h3>
<img class="" src="images/sponsors/logo_tigerlily.png" />
<div class="summary"><p></p></div>
<h3 id="nuxos">Nuxos group</h3>
<img class="" src="images/sponsors/logo_nuxos.png" />
<div class="summary"><p></p></div>
<h3 id="microsoft">Microsoft</h3>
<img class="" src="images/sponsors/logo_microsoft.png" />
<div class="summary"><p></p></div>
<h3 id="rubyfrance">Rubyfrance</h3>
<img class="" src="images/sponsors/logo_rubyfrance.jpg" />
<div class="summary"><p>Ruby France est une association avec l'objectif de promouvoir le langage de programmation Ruby, ainsi que son écosystème et ses applications phares comme Ruby on Rails.</p>
<p>C'est donc avec plaisir que nous soutenons Ruby Lugdunum.</p></div>






<!-- ========== PARTNERS ========== -->


<p class="thanks">This conference would have been impossible to do without the help of our partners : INSA Lyon, Leadformance, HESPUL, and the Club Agile Rhône-Alpes.</p>

<!--  173 * 4 = 692px MAX -->


<ul class="horizon partners">
<li>
  <img src="images/sponsors/INSA.png" />
  <p>INSA Lyon</p>
</li>
<li>
  <img src="images/sponsors/logo_leadformance.gif"  />
  <p>Leadformance</p>
</li>
<li>
  <img src="images/sponsors/logo_hespul.jpg"  />
  <p>HESPUL</p>
</li>
<li>
  <img src="images/sponsors/logo_cara.png"  />
  <p>CARA</p>
</li>
</ul>


</div>
