<div id="sponsoring">
  <div class="block">
    <h2>Sponsors</h2>
  </div>

  <p class="sponsoring-banner">
    Contact us at contact@rulu.eu for details on pricing
  </p>
  
  <div class="left-column">
    <h3>Silver Sponsors</h3>
    <img alt="Few money" src="images/few_money.png" />

    <h4>Pre-Conference</h4>

    <p>Company name, logo, 50-word description, and link on conference website
    Sponsor designation and right hand rail visibility on conference website, in onsite signage, and in marketing and PR announcements</p>

    <h4>Onsite Benefits</h3>

    <p>Exhibit Hall Booth
    2 Conference sessions passes
    Company name, logo, 50-word description, and link in Event Guide.
    Company logo on T-Shirts</p>
  </div>

  <div class="right-column">
    <h3>Gold Sponsors</h3>
    <img alt="A lot of money" src="images/a_lot_of_money.png" />

    <p>All the Benefits from the Silver Sponsors</p>

    <h4>Pre-Conference</h4>

    <p>Ability to send one pre-event email to attendee opt-in list</p>


    <h4>Onsite Benefits<h4>

    <p>30-minute session for company’s presentation
    4 Conference sessions passes
    Use of media meeting room for interviews and briefings (available on first-come, first-served basis)</p>

    <h4>Post-Conference<h4>

    <p>Ability to send one post-event email to attendee opt-in list</p>
  </div>
</div>


