<div class="column_1">
  <div class="block">
    <h2>Sponsors</h2>
  </div>
  <script>
    $(function() {
      $("#tabs").tabs();
    });
  </script>
  
  <div id="speakers-tabs">
    <div>
      <div id="tabs">
        <ul>
          <li class="gold"><a href="#sogilis"><h3>Sogilis</h3></a></li>
          <li class="gold"><a href="#official"><h3>Official.fm</h3></a></li>
          <li class="silver"><a href="#heroku"><h3>Heroku</h3></a></li>
          <li class="silver"><a href="#shopify"><h3>Shopify</h3></a></li>
          <li class="silver"><a href="#novelys"><h3>Novelys</h3></a></li>
          <li class="silver"><a href="#dimelo"><h3>Dimelo</h3></a></li>
          <li class="silver"><a href="#webpulser"><h3>Webpulser</h3></a></li>
          <li class="silver"><a href="#nuxos"><h3>Nuxos</h3></a></li>
          <li><a href="#insa"><h3>INSA</h3></a></li>
          <li><a href="#hespul"><h3>Hespul</h3></a></li>
          <li><a href="#leadformance"><h3>Leadformance</h3></a></li>
          <li><a href="#cara"><h3>CARA</h3></a></li>
        </ul>
        
        <div id="speakers-tabs-people" >
          <div id="sogilis" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            <img src="/images/logo_sogilis.png" alt="sogilis" />
            <h3><a href="http://www.sogilis.com">Sogilis</a></h3>
          
            <div class="side_pres">
              <span class="summary">
              
              </span>
            </div>
          </div>
          
          <div id="official" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            <img src="/images/logo_official.png" alt="official" />
            <h3><a href="http://www.official.fm">Official</a></h3>
          
            <div class="side_pres">
              <span class="summary">
              
              </span>
            </div>
          </div>
          
          <div id="heroku" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            <img src="/images/logo_heroku.png" alt="heroku" />
            <h3><a href="http://www.heroku.com">Heroku</a></h3>
          
            <div class="side_pres">
              <span class="summary">
              
              </span>
            </div>
          </div>
          
          <div id="insa" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            <img src="/images/INSA.png" alt="insa" />
            <h3><a href="http://www.citi.insa-lyon.fr/">INSA</a></h3>
          
            <div class="side_pres">
              <span class="summary">
              
              </span>
            </div>
          </div>
          
          <div id="cara" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            <img src="/images/logo_cara.png" alt="cara" />
            <h3><a href="http://www.clubagilerhonealpes.org/">CARA</a></h3>
          
            <div class="side_pres">
              <span class="summary">
              
              </span>
            </div>
          </div>
          
          <div id="hespul" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            <img src="/images/logo_hespul.jpg" alt="hespul" />
            <h3><a href="http://hespul.org">Hespul</a></h3>
          
            <div class="side_pres">
              <span class="summary">
              
              </span>
            </div>
          </div>
          
          
          <div id="leadformance" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            <img src="/images/logo_leadformance.gif" alt="leadformance" />
            <h3><a href="http://www.leadformance.com/">Leadformance</a></h3>
          
            <div class="side_pres">
              <span class="summary">
              
              </span>
            </div>
          </div>
          
          
        </div>
      </div>
      
    </div>
  </div>
</div>
