<div class="column_1 venue">
  <p class="travaux">Due to maintenance work on the tramway tracks, the tramway line to the venue is substituted by a bus line. <a href="#from-part-dieu" title="tramway substitution line"> More information below</a>.</p>
  <p>The CITI lab of the Telecom departement of INSA-Lyon University will be accommodating us in
    their brand new conference hall.</p>

  <ul class="sexy-bullet-points">
    <li><a href="#how_to_get_there">How to get there</a>
    </li>
    <li><a href="#flights">by plane</a>
    </li>
    <li><a href="#train">by train</a></li>
    <li><a href="#access-by-car">by car</a>
    </li>
    <li><a href="#carpool">Carpooling</a></li>
    <li><a href="#parking">Parking</a></li>
    <li><a href="#public-transport">Getting to the venue using Lyon public transport</a>
    </li>
    <li><a href="#hotels">Places to stay</a>
    </li>
    <li><a href="#map">Collaborative map</a>
    </li>
    <li><a href="#accessibility">Accessibility</a>
    <li><a href="#links">Useful links</a>
    </li>
  </ul>

  <img class="photo" src="/images/venue/Amphitheatre.jpg">
  <img class="photo" src="/images/venue/vue_ensemble.jpg">
  <img class="photo" src="/images/venue/insa_interieur.jpg">

  <h2 id="how_to_get_there">How to get there</h2>

  <h3 id="flights">by plane</h3>
  <p>The closest airport is Lyon-Saint Exupéry airport (<a href="http://theairdb.com/airport/LYS.html">LYS</a>), which serves most countries in the western part of Europe.</p>
  <p><a href="http://theairdb.com/airport/LYS.html">See all destinations you can reach with the Lyon-Saint Exupéry airport.</a></p>

  <p>The Paris-Charles de Gaulle airport (<a href="http://theairdb.com/airport/CDG.html">CDG</a>) serves more destinations. One can then take the high-speed train to Lyon <!-- TODO (see below) -->.</p>
  <p><a href="http://theairdb.com/airport/CDG.html">See all destinations you can reach with the Paris-Charles de Gaulle airport.</a></p>

  <p>To get to the city center, take the <a href="http://www.rhonexpress.fr/presentation/?rub_code=1">Rhônexpress Express Tram</a>
  with a guaranteed journey time of less than 30 minutes and no risk of congestion. You will arrive at <a href="#from-part-dieu">Lyon Part-Dieu train station</a>.</p>

  <h3 id="train">Access by train</h3>
  <p>Lyon is a well-connected city deserved by several high-speed trains from Paris, Marseille, Genève, Toulouse and most major french cities.</p>
  <p>Paris -&gt; Lyon is two hours.</p>

  <h3 id="access-by-car">Access by car</h3>

  <h4>Via A46 motorway bypass (from Paris, Strasbourg, Geneva)</h4>

  <p>Exit 1B, follow "Croix Luizet", then "La Doua", and "Domaine Scientifique de la Doua".</p>
  <iframe width="650" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps/ms?ie=UTF8&amp;msa=0&amp;msid=204495958978280801827.0004a498816e169b196c8&amp;ll=45.78626,4.893551&amp;spn=0.014963,0.05579&amp;z=14&amp;output=embed"></iframe>
  <p><a href="http://maps.google.fr/maps/ms?ie=UTF8&amp;msa=0&amp;msid=204495958978280801827.0004a498816e169b196c8&amp;ll=45.78626,4.893551&amp;spn=0.014963,0.05579&amp;z=14&amp;source=embed">View driving directions from A46 (Paris, Strasbourg, Genève) in a larger map</a>.</p>

  <h4>Via the Boulevard Laurent Bonnevay ring road (from south)</h4>

  <p>Exit 6 "Porte de Croix Luizet", then follow direction "Campus de la Doua".</p>
  <iframe width="650" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps/ms?doflg=ptk&amp;ie=UTF8&amp;source=embed&amp;msa=0&amp;msid=204495958978280801827.0004a498ee50087863e50&amp;ll=45.756026,4.886169&amp;spn=0.08384,0.146255&amp;z=12&amp;output=embed"></iframe>
  <p><a href="http://maps.google.fr/maps/ms?doflg=ptk&amp;ie=UTF8&amp;source=embed&amp;msa=0&amp;msid=204495958978280801827.0004a498ee50087863e50&amp;ll=45.756026,4.886169&amp;spn=0.08384,0.146255&amp;z=12">View driving directions from the south via Laurent Bonnevay ring road on a larger map</a>.</p>

  <h3 id="carpool">Carpooling</h3>
  <p>A good cheap solution (if your flight brings you only to Paris for example) is carpooling.</p>
  <p>You can find interesting carpooling solutions at <a href="http://covoiturage.fr" title="Covoiturage.fr - Carpooling website">covoiturage.fr</a> (french only).</p>

  <h3 id="parking">Parking</h3>
  <p>There is plenty of free on-site parking available in front of the venue.</p>

  <h2 id="public-transport">Getting to the venue using Lyon public transport</h2>
  <h3 id="from-airport">From Lyon-St Exupery airport</h3>

  <p>Take the <a href="http://www.rhonexpress.fr/">Rhônexpress</a> airport shuttle to downtown Lyon
    ("Centre de Lyon" / "Lyon Part-Dieu" train station) which runs every 20 min.</p>
  <p>Go through the train station to <a href="#from-part-dieu">take the bus</a> in front of the mall.</p>

  <h3 id="from-part-dieu">From Lyon Part-Dieu train station</h3>
  <p>We were made aware at the last minute of maintenance work on the tramway track, thus the T1 tramway is substituted by buses.</p>
  <p>To come to the venue the stops stay the same, take off at Part-Dieu Vivier-Merle (in front of the mall) and stop at <a href="#walking-to-venue" title="Walking directions to the venue">La Doua-Gaston Berger</a>.</p>

  <h3 id="from-perrache">From Lyon Perrache train station</h3>
  <p>Though unlikely, some high-speed trains only deserve the Perrache train station, which it farther, closer to the city center.</p>
  <p>To go to the venue, take the A metro line towards Vaulx-en-Velin La Soie, stop at Charpennes, and take the T1 tramway substitution bus (<a href="" title="T1 subtitution bus">see from Part-Dieu</a>).

  <h3 id="walking-to-venue">Walking directions to Rubylug 2011 from closest tramway station (La Doua-Gaston Berger)</h3>
  <p>Go to the closest tramway station, south of the subtitution bus stop.</p>

  <p>Heading east, cross the road, go past the Blaise Pascal
    building, staying on the same side of the tramway tracks.</p>

  <p>Turn left onto Rue de la Physique,
    walking between the Blaise Pascal building on the left and the Louis Pasteur building.</p>

  <p>Continue on Rue de la Physique until the end of the road (300 meters / 1000 feet).</p>

  <p>The entrance is on the corner of the building to the right, there is a "Claude Chappe" sign on
    the building.</p>

  <iframe width="650" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps/ms?doflg=ptk&amp;ie=UTF8&amp;msa=0&amp;msid=204495958978280801827.0004a33fea2eea049c68a&amp;ll=45.783013,4.873059&amp;spn=0.013049,0.01811&amp;output=embed"></iframe>
  <p>
    <a href="http://maps.google.fr/maps/ms?doflg=ptk&amp;ie=UTF8&amp;msa=0&amp;msid=204495958978280801827.0004a33fea2eea049c68a&amp;source=embed">View
      walking directions to Rubylug 2011 from closest tramway station in a larger map</a></p>

  <h2 id="hotels">Places to stay</h2>

  <h3>Couch</h3>

  <p>Lyon has an active couch surfing scene with a monthly meet-up.</p>

  <ul class="sexy-bullet-points-jm-sucks-at-css">
    <li><a href='http://wiki.couchsurfing.com/en/Lyon#Getting_a_couch_in_Lyon'>Couchsurfing</a></li>

    <li><a href='http://secure.hospitalityclub.org/hc/hcworld.php?city=5558'>The Hospitality Club</a></li>
  </ul>

  <h3>Hotels</h3>
  <ul class="sexy-bullet-points-jm-sucks-at-css">
    <li><a href="http://www.hihostels.com/dba/hostels-Lyon-020042.en.htm">Youth hostels</a>, from
      21€
    </li>

    <li>
      <a href="http://fr.hotels.com/search/search.html?ar=Landing%3A%3ANoSuggest&cd=24-06-2011&dd=25-06-2011&dn=Lyon%2C+France&nr=1&pn=1&r=1&vt=LIST#vt=LIST&rl=destination%3A501534%3AEXACT_RED%3AHIGH&pfm=1&dn=Lyon,+France&cd=24/06/2011&dd=25/06/2011&nr=1&pn=1&so=PRICE&pfcc=EUR&minp=0&maxp=500&ming=0&maxg=10&lids=1634096&sr=&r=1&cpr=0">
        Price comparator</a>, from 45€
    </li>

    <li><a href="http://www.etaphotel.com/fr/hotel-5087-etap-hotel-lyon-villeurbanne/index.shtml">
      Etap Hotel</a>, from 43€, 15 min walking to venue
    </li>

    <li><a href='http://www.accorhotels.com/gb/hotel-1625-mercure-lyon-charpennes/index.shtml'>Mercure
      Lyon Charpennes</a>, from 76 €, 10 minutes to get to the venue with T1 tramway
    </li>

    <li>
      <a href="http://www.holidayinn.com/hotels/us/en/reservation?destination=130+BLVD+DU+11+NOVEMBRE+1918+LYON-VILLEURBANNE+France&hpCheckinDate=Jun-24-2011&hpCheckoutDate=Jun-25-2011&numberOfNight=1&hotelCode=LYSVI&checkInMonthYear=52011&checkOutMonthYear=52011&numberOfRooms=1&numberOfAdults=1&checkInDate=24&numberOfChildren=0&checkOutDate=25&execute=basic#roomrate">
        Holiday Inn Garden Court Hôtel</a>, from 85 €, 5 min walking to venue
    </li>

    <li><a href='http://www.radissonblu.com/cs/Satellite?pagename=pb/Page/pb-listHotels&skin=radisson&brand=RAD&language=en&sitaCode=lyszh&cityid=&countrycode=&arrival=24%2F06%2F2011&departure=26%2F06%2F2011&rooms=1&adults_room1=1&children_room1=0&rmccode=&paccode=&corpaccountnumber=&iata='>
    Radisson Blu Hotel</a>, from 135€, 15 minutes to get to the venue with T1 tramway</li>
  </ul>

  <h2 id="map">Collaborative map</h2>
  <iframe width="650" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=204495958978280801827.0004a37e8772ca6af08c0&amp;ll=45.770277,4.866257&amp;spn=0.041909,0.11158&amp;z=13&amp;output=embed"></iframe>
  <p><a href="http://maps.google.com/maps/ms?ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=204495958978280801827.0004a37e8772ca6af08c0&amp;ll=45.770277,4.866257&amp;spn=0.041909,0.11158&amp;z=13&amp;source=embed">View Rubylug 2011 - Collaborative map for attendees in a larger map</a>.</p>

  <h2 id="accessibility">Accessibility</h2>
  <h3>Public transport</h3>
  <p>All metro stations are accessible except Ampère and Croix-Paquet.</p>
  <p>All tramways and tramway stations are accessible. The <a href="#from-part-dieu" title="tramway substitution line"> T1 substitution line</a> is equipped with fully accessible buses.</p>
  <p>More information on the <a href="http://www.en.lyon-france.com/Accessible-Lyon" title="Accessible Lyon - Lyon Tourist Office">dedicated page on the website of the Lyon tourist office</a></p>
  <!-- <h3>Venue</h3> -->

  <h2 id="links">Useful links</h2>
  <ul>
    <li>Lyon public transportation services:
      <a href="http://tcl.fr/changeLanguage.asp?language=EN" lang="en">TCL</a>.
    </li>
    <li><a href="http://www.en.lyon-france.com/" lang="en">Lyon tourist office</a>. Online room
      booking, restaurant and sightseeing information.
    </li>
    <li><a href="http://wikitravel.org/en/Lyon" lang="en">Lyon on Wikitravel</a>
    </li>
  </ul>

</div>
