<div class="column_1 venue">

  <p>The CITI lab of the Telecom departement of INSA-Lyon University will be accommodating us in
    their brand new conference hall.</p>

  <ul class="sexy-bullet-points">
    <li><a href="#how_to_get_there">How to get there</a>
    </li>
    <li><a href="#hotels">Hotels</a>
    </li>
    <li><a href="#links">Useful links</a>
    </li>
    <li><a href="#map">Map</a>
    </li>
  </ul>

  <img class="photo" src="/images/Amphitheatre.jpg">
  <img class="photo" src="/images/vue_ensemble.jpg">
  <img class="photo" src="/images/insa_interieur.jpg">

  <br/>


  <h2><a name="how_to_get_there"></a>How to get there</h2>
  <br>
  <h4>From Lyon-St Exupery airport</h4>

  <p>Take the <a href="http://www.rhonexpress.fr/">Rhônexpress</a> airport shuttle to downtown Lyon
    ("Centre de Lyon" / "Lyon Part-Dieu" train station) which runs every 20 min.</p>

  <h4>From Lyon Part-Dieu train station</h4>

  <p>Take the Tramway (T1 Line) direction "IUT Feyssine" and get off at "La Doua Gaston Berger"
    station.</p>

  <h2>Access by car</h2>
  <br>

  <h4>Via A46 motorway bypass (from Paris, Strasbourg, Geneva)</h4>

  <p>Exit 1B, follow "Croix Luizet", then "La Doua", and "Domaine Scientifique de la Doua".</p>
  <h4>Via the Boulevard Laurent Bonnevay ring road (from south)</h4>

  <p>Exit 6 "Porte de Croix Luizet", then follow direction "Campus de la Doua".</p>


  <h2><a name="hotels">Hotels</a></h2>

  <ul>
    <li>Cheap:</li>
    <ul>
      <li>Mercure Lyon Charpennes</li>
    </ul>
  </ul>


  <h2><a name="links"></a>Useful links</h2>
  <ul>
    <li>Lyon public transportation services:
      <a href="http://tcl.fr/changeLanguage.asp?language=EN" lang="en">TCL</a>.
    </li>
    <li><a href="http://www.en.lyon-france.com/" lang="en">Lyon tourist office</a>. Online room
      booking, restaurant and sightseeing information.
    </li>
  </ul>

  <h2><a name="map"></a>Map</h2>
  <br/>
  <iframe width="650" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Laboratoire+CITI,+INSA+Lyon,+avenue+des+Arts,+69621+Villeurbanne&amp;aq=&amp;sll=45.78418,4.874486&amp;sspn=0.004339,0.009205&amp;ie=UTF8&amp;hq=Laboratoire+CITI,+INSA+Lyon,&amp;hnear=Avenue+des+Arts,+69100+Villeurbanne,+Rh%C3%B4ne,+Rh%C3%B4ne-Alpes&amp;cid=5496560728721180613&amp;ll=45.785961,4.87484&amp;spn=0.010474,0.027895&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=Laboratoire+CITI,+INSA+Lyon,+avenue+des+Arts,+69621+Villeurbanne&amp;aq=&amp;sll=45.78418,4.874486&amp;sspn=0.004339,0.009205&amp;ie=UTF8&amp;hq=Laboratoire+CITI,+INSA+Lyon,&amp;hnear=Avenue+des+Arts,+69100+Villeurbanne,+Rh%C3%B4ne,+Rh%C3%B4ne-Alpes&amp;cid=5496560728721180613&amp;ll=45.785961,4.87484&amp;spn=0.010474,0.027895&amp;z=15&amp;iwloc=A" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
  <br/>
  <small>
    <a href="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=insa+lyon+map&amp;sll=45.784315,4.873574&amp;sspn=0.008215,0.01929&amp;gl=fr&amp;ie=UTF8&amp;hq=insa&amp;hnear=Lyon,+Rh%C3%B4ne,+Rh%C3%B4ne-Alpes&amp;cid=12810880465616857185&amp;ll=45.8087,4.879646&amp;spn=0.095726,0.227623&amp;z=12&amp;iwloc=A" style="color: rgb(0, 0, 255); text-align: left;">Agrandir
      le plan</a></small>

</div>
