<div class="column_1 venue">

  <p>The CITI lab of the Telecom departement of INSA-Lyon University will be accomodating us in their brand new conference hall.</p>

  <img alt="Theater" class="photo" src="/images/Amphitheatre.jpg" />
  <img alt="Theater" class="photo" src="/images/vue_ensemble.jpg" />
  <img alt="Theater" class="photo" src="/images/insa_interieur.jpg" />


  <h2>How to get there</h2>
  <br/>
  <h4>From Lyon-St Exupery airport</h4>
  <p>Take the <a href="http://www.rhonexpress.fr/">Rhônexpress</a> airport shuttle to downtown Lyon ("Centre de Lyon" / "Lyon Part-Dieu" train station) which runs every 20 min.</p>

  <h4>From Lyon Part-Dieu train station</h4>
  <p>Take the Tramway (T1 Line) direction "IUT Feyssine" and get off at "La Doua Gaston Berger" station.</p>

  <h2>Access by car</h2>
  <br/>

  <h4>Via A46 motorway bypass (from Paris, Strasbourg, Geneva)</h4>
  <p>Exit 1B, follow "Croix Luizet", then "La Doua", and "Domaine Scientifique de la Doua".</p>
  <h4>Via the Boulevard Laurent Bonnevay ring road (from south)</h4>
  <p>Exit 6 "Porte de Croix Luizet", then follow direction "Campus de la Doua".</p>

  <h2>Useful links</h2>
  <ul>
    <li>Lyon public transportation services: <a lang="en" href="http://tcl.fr/changeLanguage.asp?language=EN">TCL</a>.</li>
    <li><a lang="en" href="http://www.en.lyon-france.com/">Lyon tourist office</a>. Online room booking, restaurant and sightseeing information.</li>
  </ul>

  <h2>Map</h2>
  <iframe width="664" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=insa+lyon+map&amp;sll=45.784315,4.873574&amp;sspn=0.008215,0.01929&amp;gl=fr&amp;ie=UTF8&amp;hq=insa&amp;hnear=Lyon,+Rh%C3%B4ne,+Rh%C3%B4ne-Alpes&amp;cid=12810880465616857185&amp;ll=45.8087,4.879646&amp;spn=0.095726,0.227623&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=insa+lyon+map&amp;sll=45.784315,4.873574&amp;sspn=0.008215,0.01929&amp;gl=fr&amp;ie=UTF8&amp;hq=insa&amp;hnear=Lyon,+Rh%C3%B4ne,+Rh%C3%B4ne-Alpes&amp;cid=12810880465616857185&amp;ll=45.8087,4.879646&amp;spn=0.095726,0.227623&amp;z=12&amp;iwloc=A" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>

</div>
