<div class="column_1 venue">

  <p>The CITI lab of the Telecom departement of INSA-Lyon University will be accomodating us in their brand new conference hall.</p>

  <img alt="Theater" class="photo" src="/images/Amphitheatre.jpg" />


  <h2>How to get there</h2>
  <br/>
  <h4>From Lyon-St Exupery airport</h4>
  <p>Take the <a href="http://www.rhonexpress.fr/">Rhônexpress</a> airport shuttle to downtown Lyon ("Centre de Lyon" / "Lyon Part-Dieu" train station) which runs every 20 min.</p>

  <h4>From Lyon Part-Dieu train station</h4>
  <p>Take the Tramway (T1 Line) direction "IUT Feyssine" and get off at "La Doua Gaston Berger" station.</p>

  <h2>Access by car</h2>
  <br/>

  <h4>Via A46 motorway bypass (from Paris, Strasbourg, Geneva)</h4>
  <p>Exit 1B, follow "Croix Luizet", then "La Doua", and "Domaine Scientifique de la Doua".</p>
  <h4>Via the Boulevard Laurent Bonnevay ring road (from south)</h4>
  <p>Exit 6 "Porte de Croix Luizet", then follow direction "Campus de la Doua".</p>

  <h2>Useful links</h2>
  <ul>
    <li>Lyon public transportation services: <a lang="en" href="http://tcl.fr/changeLanguage.asp?language=EN">TCL</a>.</li>
    <li><a lang="en" href="http://www.en.lyon-france.com/">Lyon tourist office</a>. Online room booking, restaurant and sightseeing information.</li>
  </ul>

  <img src="http://maps.google.com/maps/api/staticmap?markers=45.783815,4.872511&size=900x400&zoom=14&sensor=false">

</div>
